<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
	<title>File Tools</title>
</head>
<body>
	<h1>FileTools</h1>
	<div class="content">
		<a href="/">Home</a>
		<a href="{{ url_for('download', operation=operation) }}" class="download">Download</a>
	</div>
</body>
</html>
